{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Log In</title>
</head>
<body>
    <div class="first">
        <h1 class="main">CryptoTracker</h1>
    </div>
    <div class="second">
        <div class="wrapper">
            <h2>Login page</h2>
            <form action="{% url 'user:login' %}" method="post">
              {% csrf_token %}
              <div class="input-box">
                <label form="{{ form.username.id_for_label }}" placeholder="Enter your login" required>
                {{ form.username }}
              </div>
              <div class="input-box">
                <label form="{{ form.password.id_for_label }}" placeholder="Enter password" required>
                {{ form.password }}
              </div>
              <div class="input-box button">
                <input type="Submit" value="Login Now">
              </div>
              <div class="text">
                <h3>Do not have an account? <a href="{% url 'user:register' %}">Register now</a></h3>
              </div>
            </form>
          </div>
    </div>
</body>
</html>