{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Registration</title>
</head>
<body>
    <div class="first">
        <h1 class="main">CryptoTracker</h1>
    </div>
    <div class="second">
        <div class="wrapper">
            <h2>Registration</h2>
            <form action="{% url 'user:register' %}" method="post">
              {% csrf_token %}
              <div class="input-box">
                <label for="{{ form.username.id_for_label }}"></label>
                {{ form.username }}
              </div>
              <div class="input-box">
                <label for="{{ form.first_name.id_for_label }}"></label>
                {{ form.first_name }}
              </div>
              <div class="input-box">
                <label for="{{ form.last_name.id_for_label }}"></label>
                {{ form.last_name }}
              </div>
              <div class="input-box">
                <label for="{{ form.email.id_for_label }}"></label>
                {{ form.email }}
              </div>
              <div class="input-box">
                <label for="{{ form.password1.id_for_label }}"></label>
                {{ form.password1 }}
              </div>
              <div class="input-box">
                <label for="{{ form.password2.id_for_label }}"></label>
                {{ form.password2 }}
              </div>
              <div class="policy">
                <input type="checkbox" required>
                <h3>I accept all terms & condition</h3>
              </div>
              <div class="input-box button">
                <input type="Submit" value="Register Now">
              </div>
              <div class="text">
                <h3>Already have an account? <a href="{% url 'user:login' %}">Login now</a></h3>
              </div>
            </form>
          </div>
    </div>
</body>
</html>