{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency List</title>
    <script
    src="https://kit.fontawesome.com/1935d064dd.js"
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/crypt.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            // Функция для обновления данных
            function updateData() {
                // Выполнение AJAX-запроса
                $.ajax({
                    url: "/api/currencies/",
                    type: "GET",
                    success: function(data) {
                        console.log(data);
                        // Обработка полученных данных
                        var tableBody = $("#currency-table-body");
                        tableBody.empty();
                        $.each(data, function(index, currency) {
                            var row = $("<tr></tr>");
                            var nameCell = $("<td></td>");
                            row.append($("<td></td>").text(currency.id));
                            var nameLink = $("<a></a>").attr("href", "/currencies/" + currency.id).text(currency.name);
                            nameCell.append(nameLink);
                            row.append(nameCell);
                            row.append($("<td></td>").text('$' + currency.price));
                            row.append($("<td></td>").text(currency.percent_change_24h.toLocaleString('en-US', {maximumFractionDigits: 3})));
                            row.append($("<td></td>").text(currency.percent_change_7d.toLocaleString('en-US', {maximumFractionDigits: 3})));
                            row.append($("<td></td>").text('$' + currency.market_cap.toLocaleString('en-US', {maximumFractionDigits: 3})));
                            row.append($("<td></td>").text('$' + currency.volume_24h.toLocaleString('en-US', {maximumFractionDigits: 3})));
                            tableBody.append(row);
                        });
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            }
    
            // Обновление данных каждую секунду
            setInterval(updateData, 2000);
        });
    </script>
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <img src="images/1.png" alt="logo">
            <h1><a href="/">CryptoTracker</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
              <li><a href="/app/offers">Offers</a></li>
              <li><a href="/user/profile">Portfolio</a></li>
              <li><a href="/app/currencies">Currencies</a></li>
              <li><a href="/user/login">Log out</a></li>
            </ul>
        </nav>
    </header>


    <div class="cont">    
    <h1 style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">Today's Cryptocurrency Prices by Market Cap</h1>

      <table id="currency-table">
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Price</td>
                <td>24h%</td>
                <td>7d%</td>
                <td>Market Cap</td>
                <td>Volume 24h</td>
            </tr>
        </thead>
        <tbody id="currency-table-body">
            <tr>
              <!-- Ajax -->
              <td>Loading...</td>
              <td>Please</td>
              <td>Wait</td>
              <td>Or</td>
              <td>Update</td>
              <td>The</td>
              <td>Page</td>
            </tr>
        </tbody>
    </table>
  </div>
</body>
</html>