<!DOCTYPE html>
<html>
<head>
    <title>Currency Detail</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            // Получение идентификатора валюты из URL-адреса
            var urlParts = window.location.href.split("/");
            var currencyId = urlParts[urlParts.length - 2];
    
            // Функция для обновления данных
            function updateData() {
                // Выполнение AJAX-запроса для получения данных о валюте по её идентификатору
                $.ajax({
                    url: "/api/currencies/",
                    type: "GET",
                    success: function(data) {
                        var currency = data.filter(function(id){
                            return id.id == currencyId;
                        });
                        console.log(currency);
                        // Обработка полученных данных
                        var tableBody = $("#currency-table-body");
                        tableBody.empty();
    
                        var row = $("<tr></tr>");
                        row.append($("<td></td>").text(currency[0].name));
                        row.append($("<td></td>").text(currency[0].symbol));
                        row.append($("<td></td>").text(currency[0].price));
                        row.append($("<td></td>").text(currency[0].percent_change_1h));
                        row.append($("<td></td>").text(currency[0].percent_change_24h));
                        row.append($("<td></td>").text(currency[0].volume_24h));
                        tableBody.append(row);
                    },
                    error: function(xhr, status, error) {
                        console.log(error);
                    }
                });
            }
    
            // Обновление данных каждую секунду
            setInterval(updateData, 2000);
        });
    </script>
</head>
<body>
    <table id="currency-table">
        <tbody id="currency-table-body">
        </tbody>
    </table>
</body>
</html>
