{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <img src="/media/1.png" alt="logo">
            <h1><a href="/">CryptoTracker</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="/offers">Offers</a></li>
                <li><a href="/user/profile">Portfolio</a></li>
                <li><a href="/currencies">Currencies</a></li>
                <li><a href="/polls/{% url 'my-offers' %}?id={{ i.id }}">My Offers</a></li>
                <li><a href="/user/login">Log out</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>