{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offers</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/offers.css' %}">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <img src="/media/logo.png" alt="logo">
            <h1><a href="/app/main">CryptoTracker</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="/app/offers">Offers</a></li>
                <li><a href="/user/profile">Portfolio</a></li>
                <li><a href="#">Currencies</a></li>
                <li><a href="/user/logout">Log out</a></li>
            </ul>
        </nav>
    </header>

    <div id="wrapper">

        <table id="keywords" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
                <th><span>User</span></th>
                <th><span>Currency</span></th>
                <th><span>Quantity</span></th>
                <th><span>Price</span></th>
                <th><span>Time</span></th>
            </tr>
          </thead>
          <tbody>
            {% for poll in polls %}
            <tr>
              <td class="lalign">{{ poll.user.username }}</td>
              <td>{{ poll.currency.name }}</td>
              <td>{{ poll.quantity }}</td>
              <td>{{ poll.sum }}</td>
              <td>{{ poll.created_timestamp }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">No offers found.</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</body>
</html>
