<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script
    src="https://kit.fontawesome.com/1935d064dd.js"
    crossorigin="anonymous"
  ></script>
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="offers.css">
</head>
<body>
    <header class="site-header">
        <div class="site-identity">
            <img src="images/1.png" alt="logo">
            <h1><a href="#">CryptoTracker</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav">
                <li><a href="#">Offers</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Currencies</a></li>
                <li><a href="#">Log out</a></li>
            </ul>
        </nav>
    </header>

    <div class="cont">
      <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Price</td>
                <td>Time</td>
                <td>To buy</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>35t35</td>
                <td>BNB</td>
                <td>1</td>
                <td>469</td>
                <td>13:45</td>
                <td><button class="first">Buy</button></td>
            </tr>
        </tbody>
    </table>
  </div>

  <div class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <div class="left">
        <h2>35t35</h2>
        <p>Price: 469</p>
        <p>Available: 1726.00$</p>
        <p>Payment Time Limit: 15 minutes</p>
      </div>
      <div class="right">
        <form action="#">
            <div class="input-box">
                <label class="labels">I want to pay</label>
                <input type="text" placeholder="300,000.00 - 1,000,000.00" required>
            </div>
            <div class="input-box">
                <label class="labels">I will receive</label>
                <input type="text" placeholder="0.00" required>
            </div>
          </form>
      </div>
      <div class="buy">
        <button class="first">Buy USDt</button>
      </div>
    </div>
  </div>

  <script src="offers.js"></script>
</body>
</html>